:root
{
    --clr-primary-200: hsl(36, 100%, 99%);
    --clr-primary-400: hsl(35, 77%, 62%);
    --clr-primary-600: hsl(5, 85%, 63%);
    --clr-primary-700: hsl(233, 8%, 79%);
    --clr-primary-800: hsl(236, 13%, 42%);
    --clr-primary-900: hsl(240, 100%, 5%);

    --ff-newshomepage: 'Inter', sans-serif;

    --fs-400: 15px;

    --fw-400: 400;
    --fw-700: 700;
    --fw-800: 800;
}

@font-face
{
    font-family: 'Inter';
    src: url("assets/fonts/static/Inter-Regular.ttf");
    src: url("assets/fonts/static/Inter-Bold.ttf");
    src: url("assets/fonts/static/Inter-ExtraBold.ttf");
}

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

*
{
    margin: 0;
    padding: 0;
    font-family: var(--ff-newshomepage);
}

/* Prevent font size inflation */
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
    margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
    line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
    text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
    color: currentColor;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
    font-family: inherit;
    font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
    min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
    scroll-margin-block: 5ex;
}

/* === CSS UTILITIES === */

/* === CSS STYLING === */

nav
{
    width: 70%;
    height: 9rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: auto;
}

nav ul
{
    display: flex;
    gap: 2rem;
}

.head
{
    width: 70%;
    margin-inline: auto;
}

.head > .col
{
    display: flex;
    width: 60%;
}

.col img
{
    width: 100%;
}

.innercol
{
    width: 60%;
    display: flex;
    flex-direction: row;
    flex: 1 1;
}

.innercol h1
{
    margin-top: 1rem;
    font-size: 3rem;
}

.col > .innercol:nth-child(2)
{
    display: flex;
    flex-direction: column;
}

.innercol p
{
    font-weight: lighter;
    color: var(--clr-primary-700);
    margin: 1rem;
}

.innercol button
{
    background-color: var(--clr-primary-600);
    width: 13rem;
    height: 3rem;
    border: none;
}